<div style="position: auto; z-index: -99; width: 100%; height: 100%">
<iframe id="myVideo" frameborder="0" height="75%" width="100%"
  src="https://youtube.com/embed/BObBUT5iQaU?showinfo=0&wmode=transparent&rel=0&autoplay=1&controls=0&?modestbranding=1">
</iframe>
<script>let myVideo =  iframe.getElementById('myVideo');
myVideo.mute();</script>

</div>
<body>

  </body
