<div style="display: block; margin: 0 auto;" class="column">
  <div class="card">
    <img src="http://images.freeimages.com/images/premium/large-thumbs/1695/16954158-retro-arcade-machine.jpg">
    <div class="card-section">
      <h4>This is a card.</h4>
      <p><%=@game.name%></p>
      <%= yield %>
    </div>
  </div>
</div>
