<div class="row">
    <div class="small-6 small-offset-3 columns">
<br>
<h1 class="bit-text arcade-header">Arcades</h1>

<div class="bit-text arcade-header"><%= link_to "Add New Arcade", new_arcade_path %></div>
<br>
<% @states.each do |state| %>
<h2 class="bit-text"><%=state%></h2>
  <% @arcades.each do |arcade| %>
    <%if arcade.state == state%>
      <li class="smaller-text" style="list-style: none;"><%= link_to arcade.name.capitalize, arcade_path(arcade.id), class: "button expanded" %></li>
    <%end%>
  <%end%>
<%end%>
</div>
</div>



<!-- <div id="main-app"> ###react render for later###

</div> -->
