  <div class="main-content main-content-bg">
<body>
<div class="row">
    <div class="small-6 small-offset-3 columns">
<br>


<h1 class="bit-text arcade-header">Arcades</h1>

<div class="add-arcade"><%= link_to "Add New Arcade", new_arcade_path %></div>
<br>
<% @states.each do |state| %>
<h2 class="bit-text"><%=state%></h2>
  <% @arcades.each do |arcade| %>
    <%if arcade.state == state%>
      <li class="smaller-text shadow">
        <%= link_to arcade.name.split('-').map(&:titleize).join('-'), arcade_path(arcade.id), class: "button expanded", style: "border-radius: 2px;"%>
      </li>
    <%end%>
    <%end%>
<%end%>
    </div>
  </div>
</body>
<br>
<br>
<br>
<br>
<br>
<br>
</div>
<h1>react starts here<h1/>
  <div id="main-app">

</div>
<%= react_component 'Arcades', { data: @arcade } %>


<!-- <div id="main-app"> ###react render for later###

</div> -->
